@model IEnumerable<StudentFreelance.Models.Province>

<select name="location" id="provinceDropdown" class="form-control location-input">
    <option value="">Chọn tỉnh/thành phố</option>
    @foreach (var province in Model)
    {
        <option value="@province.Name">@province.Name</option>
    }
</select> 