@model IEnumerable<string>

<select name="location" id="provinceDropdown" class="form-control location-input">
    <option value="">Chọn tỉnh/thành phố</option>
    @foreach (var provinceName in Model)
    {
        <option value="@provinceName">@provinceName</option>
    }
</select> 