USE [StudentBusinessDB]
GO
/****** Object:  Table [dbo].[AccountStatuses]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_AccountStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceCode] [nvarchar](20) NULL,
	[ProvinceName] [nvarchar](255) NULL,
	[DistrictCode] [nvarchar](20) NULL,
	[DistrictName] [nvarchar](255) NULL,
	[WardCode] [nvarchar](20) NULL,
	[WardName] [nvarchar](255) NULL,
	[DetailAddress] [nvarchar](500) NULL,
	[FullAddress] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdvertisementPackageTypes]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdvertisementPackageTypes](
	[PackageTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PackageTypeName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DurationDays] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_AdvertisementPackageTypes] PRIMARY KEY CLUSTERED 
(
	[PackageTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advertisements]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[PackageTypeID] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[StatusID] [int] NOT NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[ApprovedById] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Advertisements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdvertisementStatuses]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdvertisementStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_AdvertisementStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[VipStatus] [bit] NOT NULL,
	[VipExpiryDate] [datetime2](7) NULL,
	[AddressID] [int] NULL,
	[WalletBalance] [decimal](18, 2) NOT NULL,
	[University] [nvarchar](max) NULL,
	[Major] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[Industry] [nvarchar](max) NULL,
	[ProfileStatus] [bit] NOT NULL,
	[AverageRating] [decimal](18, 2) NOT NULL,
	[TotalProjects] [int] NOT NULL,
	[TotalProjectsPosted] [int] NOT NULL,
	[ProfilePicturePath] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[StatusID] [int] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[IsFlagged] [bit] NOT NULL,
	[FlagReason] [nvarchar](max) NULL,
	[VerifiedAt] [datetime2](7) NULL,
	[FlaggedAt] [datetime2](7) NULL,
	[VerifiedByID] [int] NULL,
	[FlaggedByID] [int] NULL,
	[EmailVerificationDeadline] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccounts]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[AccountNumber] [nvarchar](30) NOT NULL,
	[AccountHolderName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BankAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryType] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ParentCategoryID] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[ConversationID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[ParticipantAID] [int] NOT NULL,
	[ParticipantBID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[ConversationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportanceLevels]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportanceLevels](
	[LevelID] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ImportanceLevels] PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[ProjectID] [int] NULL,
	[ConversationID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[MessageType] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[TypeID] [int] NOT NULL,
	[RelatedID] [int] NULL,
	[NotificationDate] [datetime2](7) NOT NULL,
	[IsBroadcast] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationTypes]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_NotificationTypes] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProficiencyLevels]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProficiencyLevels](
	[LevelID] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProficiencyLevels] PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectAttachments]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectAttachments](
	[AttachmentID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[ContentType] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[UploadedBy] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProjectAttachments] PRIMARY KEY CLUSTERED 
(
	[AttachmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectFlagActions]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectFlagActions](
	[ActionID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[ActionByID] [int] NOT NULL,
	[ActionType] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime2](7) NOT NULL,
	[IPAddress] [nvarchar](max) NOT NULL,
	[UserAgent] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProjectFlagActions] PRIMARY KEY CLUSTERED 
(
	[ActionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[BusinessID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Budget] [decimal](15, 2) NOT NULL,
	[ProjectWallet] [decimal](15, 2) NOT NULL,
	[Deadline] [datetime2](7) NOT NULL,
	[StatusID] [int] NOT NULL,
	[IsHighlighted] [bit] NOT NULL,
	[TypeID] [int] NOT NULL,
	[AddressID] [int] NULL,
	[IsRemoteWork] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsFlagged] [bit] NOT NULL,
	[FlagReason] [nvarchar](max) NULL,
	[FlaggedAt] [datetime2](7) NULL,
	[FlaggedByID] [int] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectSkillsRequired]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectSkillsRequired](
	[ProjectSkillID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[SkillID] [int] NOT NULL,
	[ImportanceLevelID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProjectSkillsRequired] PRIMARY KEY CLUSTERED 
(
	[ProjectSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectStatuses]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProjectStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectSubmissionAttachments]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectSubmissionAttachments](
	[AttachmentID] [int] IDENTITY(1,1) NOT NULL,
	[SubmissionID] [int] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[ContentType] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[UploadedBy] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProjectSubmissionAttachments] PRIMARY KEY CLUSTERED 
(
	[AttachmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectSubmissions]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectSubmissions](
	[SubmissionID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[BusinessFeedback] [nvarchar](max) NULL,
	[FeedbackDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[StudentApplicationApplicationID] [int] NULL,
 CONSTRAINT [PK_ProjectSubmissions] PRIMARY KEY CLUSTERED 
(
	[SubmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTypes]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProjectTypes] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[ReviewerID] [int] NOT NULL,
	[RevieweeID] [int] NOT NULL,
	[Score] [decimal](3, 2) NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[DateRated] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Ratings] PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ReporterID] [int] NOT NULL,
	[ReportedUserID] [int] NOT NULL,
	[ProjectID] [int] NULL,
	[ReportDate] [datetime2](7) NOT NULL,
	[TypeID] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StatusID] [int] NOT NULL,
	[ResolvedAt] [datetime2](7) NULL,
	[AdminResponse] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportStatuses]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ReportStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportTypes]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ReportTypes] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentApplications]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentApplications](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CoverLetter] [nvarchar](max) NOT NULL,
	[Salary] [decimal](15, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[DateApplied] [datetime2](7) NOT NULL,
	[LastStatusUpdate] [datetime2](7) NULL,
	[BusinessNotes] [nvarchar](max) NULL,
	[ResumeAttachment] [nvarchar](max) NULL,
	[PortfolioLink] [nvarchar](max) NULL,
	[BusinessRating] [int] NULL,
	[InterviewSchedule] [datetime2](7) NULL,
	[InterviewResult] [nvarchar](max) NULL,
	[IsPaid] [bit] NOT NULL,
	[CompletionDate] [datetime2](7) NULL,
	[Notes] [nvarchar](max) NULL,
	[InterviewDate] [datetime2](7) NULL,
	[ResumeLink] [nvarchar](max) NULL,
	[BusinessConfirmedCompletion] [bit] NOT NULL,
	[StudentConfirmedCompletion] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_StudentApplications] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSkills]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSkills](
	[StudentSkillID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SkillID] [int] NOT NULL,
	[ProficiencyLevelID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_StudentSkills] PRIMARY KEY CLUSTERED 
(
	[StudentSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProjectID] [int] NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[TypeID] [int] NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StatusID] [int] NOT NULL,
	[OrderCode] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionStatuses]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TransactionStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TransactionTypes] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccountActions]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccountActions](
	[ActionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ActionByID] [int] NOT NULL,
	[ActionType] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime2](7) NOT NULL,
	[IPAddress] [nvarchar](max) NOT NULL,
	[UserAgent] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserAccountActions] PRIMARY KEY CLUSTERED 
(
	[ActionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccountHistories]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccountHistories](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ActionType] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[OldValue] [nvarchar](max) NOT NULL,
	[NewValue] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime2](7) NOT NULL,
	[IPAddress] [nvarchar](max) NOT NULL,
	[UserAgent] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserAccountHistories] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotifications]    Script Date: 7/25/2025 1:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotifications](
	[UserNotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[NotificationID] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadDate] [datetime2](7) NULL,
 CONSTRAINT [PK_UserNotifications] PRIMARY KEY CLUSTERED 
(
	[UserNotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountStatuses] ON 

INSERT [dbo].[AccountStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (1, N'Hoạt động', 1)
INSERT [dbo].[AccountStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (2, N'Tạm khóa', 1)
INSERT [dbo].[AccountStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (3, N'Đã khóa', 1)
SET IDENTITY_INSERT [dbo].[AccountStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([AddressID], [ProvinceCode], [ProvinceName], [DistrictCode], [DistrictName], [WardCode], [WardName], [DetailAddress], [FullAddress], [IsActive]) VALUES (1, N'1', N'Hà Nội', N'001', N'Quận Ba Đình', N'00001', N'Phường Phúc Xá', N'Số nhà mặc định', N'Số nhà mặc định, Phường Phúc Xá, Quận Ba Đình, Hà Nội', 1)
INSERT [dbo].[Addresses] ([AddressID], [ProvinceCode], [ProvinceName], [DistrictCode], [DistrictName], [WardCode], [WardName], [DetailAddress], [FullAddress], [IsActive]) VALUES (2, N'1', N'Hà Nội', N'001', N'Quận Ba Đình', N'00001', N'Phường Phúc Xá', N'Số nhà mặc định', N'Số nhà mặc định, Phường Phúc Xá, Quận Ba Đình, Hà Nội', 1)
INSERT [dbo].[Addresses] ([AddressID], [ProvinceCode], [ProvinceName], [DistrictCode], [DistrictName], [WardCode], [WardName], [DetailAddress], [FullAddress], [IsActive]) VALUES (3, N'1', N'Hà Nội', NULL, N'', NULL, N'', N'Số nhà mặc định', N'Số nhà mặc định, Hà Nội', 1)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[AdvertisementPackageTypes] ON 

INSERT [dbo].[AdvertisementPackageTypes] ([PackageTypeID], [PackageTypeName], [Price], [DurationDays], [IsActive]) VALUES (1, N'Basic', CAST(100000.00 AS Decimal(18, 2)), 7, 1)
INSERT [dbo].[AdvertisementPackageTypes] ([PackageTypeID], [PackageTypeName], [Price], [DurationDays], [IsActive]) VALUES (2, N'Featured', CAST(200000.00 AS Decimal(18, 2)), 7, 1)
SET IDENTITY_INSERT [dbo].[AdvertisementPackageTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Advertisements] ON 

INSERT [dbo].[Advertisements] ([Id], [BusinessId], [ImagePath], [PackageTypeID], [StartDate], [EndDate], [StatusID], [ApprovedAt], [ApprovedById], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, 3, N'183eedf3-c529-4699-9659-8310dcf63856_abcCompany.png', 2, CAST(N'2025-07-23T13:19:25.3951441' AS DateTime2), CAST(N'2025-07-30T13:19:25.3951445' AS DateTime2), 2, CAST(N'2025-07-23T13:19:25.3950141' AS DateTime2), 1, 1, CAST(N'2025-07-23T13:19:06.4613527' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Advertisements] OFF
GO
SET IDENTITY_INSERT [dbo].[AdvertisementStatuses] ON 

INSERT [dbo].[AdvertisementStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (1, N'Chờ duyệt', 1)
INSERT [dbo].[AdvertisementStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (2, N'Đã duyệt', 1)
INSERT [dbo].[AdvertisementStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (3, N'Từ chối', 1)
SET IDENTITY_INSERT [dbo].[AdvertisementStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'Moderator', N'MODERATOR', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (3, N'Business', N'BUSINESS', NULL)
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (2, 2)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryType], [Description], [ParentCategoryID], [IsActive]) VALUES (1, N'Công nghệ thông tin', N'Field', N'Lĩnh vực CNTT', NULL, 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryType], [Description], [ParentCategoryID], [IsActive]) VALUES (2, N'Marketing', N'Field', N'Lĩnh vực marketing', NULL, 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryType], [Description], [ParentCategoryID], [IsActive]) VALUES (3, N'Thiết kế', N'Field', N'Lĩnh vực thiết kế và sáng tạo', NULL, 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Conversations] ON 

INSERT [dbo].[Conversations] ([ConversationID], [ProjectID], [ParticipantAID], [ParticipantBID], [CreatedAt], [IsActive]) VALUES (1, 1, 4, 3, CAST(N'2025-07-22T05:07:59.6171004' AS DateTime2), 1)
INSERT [dbo].[Conversations] ([ConversationID], [ProjectID], [ParticipantAID], [ParticipantBID], [CreatedAt], [IsActive]) VALUES (2, 1, 17, 3, CAST(N'2025-07-23T06:11:17.1592444' AS DateTime2), 1)
INSERT [dbo].[Conversations] ([ConversationID], [ProjectID], [ParticipantAID], [ParticipantBID], [CreatedAt], [IsActive]) VALUES (3, 11, 10, 3, CAST(N'2025-07-23T06:22:26.5544073' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Conversations] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportanceLevels] ON 

INSERT [dbo].[ImportanceLevels] ([LevelID], [LevelName], [IsActive]) VALUES (1, N'Bắt buộc', 1)
INSERT [dbo].[ImportanceLevels] ([LevelID], [LevelName], [IsActive]) VALUES (2, N'Quan trọng', 1)
INSERT [dbo].[ImportanceLevels] ([LevelID], [LevelName], [IsActive]) VALUES (3, N'Ưu tiên', 1)
SET IDENTITY_INSERT [dbo].[ImportanceLevels] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [SenderID], [ReceiverID], [ProjectID], [ConversationID], [Content], [MessageType], [IsRead], [SentAt], [IsActive]) VALUES (1, 4, 3, 1, 1, N'Em muốn trao đổi thêm về dự án', N'text', 1, CAST(N'2025-07-22T12:07:59.6407269' AS DateTime2), 1)
INSERT [dbo].[Messages] ([MessageID], [SenderID], [ReceiverID], [ProjectID], [ConversationID], [Content], [MessageType], [IsRead], [SentAt], [IsActive]) VALUES (2, 3, 4, 1, 1, N'Bạn có thể cho biết thêm kinh nghiệm .NET?', N'text', 0, CAST(N'2025-07-22T12:12:59.6408282' AS DateTime2), 1)
INSERT [dbo].[Messages] ([MessageID], [SenderID], [ReceiverID], [ProjectID], [ConversationID], [Content], [MessageType], [IsRead], [SentAt], [IsActive]) VALUES (3, 10, 3, 11, 3, N'alo', N'text', 1, CAST(N'2025-07-23T06:22:29.7802631' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [SenderID], [Title], [Content], [TypeID], [RelatedID], [NotificationDate], [IsBroadcast], [IsActive]) VALUES (1, NULL, N'Chào mừng bạn đến với FreelanceStudent', N'Cảm ơn bạn đã tham gia cộng đồng FreelanceStudent. Hãy cập nhật hồ sơ để bắt đầu nhận dự án.', 1, NULL, CAST(N'2024-10-22T12:12:56.7747424' AS DateTime2), 0, 1)
INSERT [dbo].[Notifications] ([NotificationID], [SenderID], [Title], [Content], [TypeID], [RelatedID], [NotificationDate], [IsBroadcast], [IsActive]) VALUES (2, NULL, N'Chào mừng bạn đến với FreelanceStudent', N'Cảm ơn bạn đã tham gia cộng đồng FreelanceStudent. Hãy cập nhật hồ sơ để bắt đầu nhận dự án.', 1, NULL, CAST(N'2025-01-10T12:12:57.3692167' AS DateTime2), 0, 1)
INSERT [dbo].[Notifications] ([NotificationID], [SenderID], [Title], [Content], [TypeID], [RelatedID], [NotificationDate], [IsBroadcast], [IsActive]) VALUES (3, NULL, N'Chào mừng bạn đến với FreelanceStudent', N'Cảm ơn bạn đã tham gia cộng đồng FreelanceStudent. Hãy cập nhật hồ sơ để bắt đầu nhận dự án.', 1, NULL, CAST(N'2024-10-26T12:12:57.4757106' AS DateTime2), 0, 1)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificationTypes] ON 

INSERT [dbo].[NotificationTypes] ([TypeID], [TypeName], [IsActive]) VALUES (1, N'Hệ thống', 1)
INSERT [dbo].[NotificationTypes] ([TypeID], [TypeName], [IsActive]) VALUES (2, N'Dự án', 1)
INSERT [dbo].[NotificationTypes] ([TypeID], [TypeName], [IsActive]) VALUES (3, N'Tin nhắn', 1)
SET IDENTITY_INSERT [dbo].[NotificationTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProficiencyLevels] ON 

INSERT [dbo].[ProficiencyLevels] ([LevelID], [LevelName], [IsActive]) VALUES (1, N'Mới bắt đầu', 1)
INSERT [dbo].[ProficiencyLevels] ([LevelID], [LevelName], [IsActive]) VALUES (2, N'Trung cấp', 1)
INSERT [dbo].[ProficiencyLevels] ([LevelID], [LevelName], [IsActive]) VALUES (3, N'Thành thạo', 1)
SET IDENTITY_INSERT [dbo].[ProficiencyLevels] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectFlagActions] ON 

INSERT [dbo].[ProjectFlagActions] ([ActionID], [ProjectID], [ActionByID], [ActionType], [Reason], [ActionDate], [IPAddress], [UserAgent], [IsActive]) VALUES (1, 9, 2, N'Flag', N'Potential scam - unrealistic payment terms', CAST(N'2025-07-19T12:08:00.7581725' AS DateTime2), N'127.0.0.1', N'DbSeeder', 1)
INSERT [dbo].[ProjectFlagActions] ([ActionID], [ProjectID], [ActionByID], [ActionType], [Reason], [ActionDate], [IPAddress], [UserAgent], [IsActive]) VALUES (2, 9, 2, N'Flag', N'Potential scam - unrealistic payment terms', CAST(N'2025-07-19T12:59:02.1003381' AS DateTime2), N'127.0.0.1', N'DbSeeder', 1)
INSERT [dbo].[ProjectFlagActions] ([ActionID], [ProjectID], [ActionByID], [ActionType], [Reason], [ActionDate], [IPAddress], [UserAgent], [IsActive]) VALUES (3, 9, 2, N'Flag', N'Potential scam - unrealistic payment terms', CAST(N'2025-07-19T14:47:10.1980703' AS DateTime2), N'127.0.0.1', N'DbSeeder', 1)
SET IDENTITY_INSERT [dbo].[ProjectFlagActions] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectSkillsRequired] ON 

INSERT [dbo].[ProjectSkillsRequired] ([ProjectSkillID], [ProjectID], [SkillID], [ImportanceLevelID], [IsActive]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[ProjectSkillsRequired] ([ProjectSkillID], [ProjectID], [SkillID], [ImportanceLevelID], [IsActive]) VALUES (2, 1, 2, 1, 1)
INSERT [dbo].[ProjectSkillsRequired] ([ProjectSkillID], [ProjectID], [SkillID], [ImportanceLevelID], [IsActive]) VALUES (3, 2, 5, 1, 1)
SET IDENTITY_INSERT [dbo].[ProjectSkillsRequired] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectStatuses] ON 

INSERT [dbo].[ProjectStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (1, N'Đang tuyển', 1)
INSERT [dbo].[ProjectStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (2, N'Đang tiến hành', 1)
INSERT [dbo].[ProjectStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (3, N'Đã hoàn thành', 1)
SET IDENTITY_INSERT [dbo].[ProjectStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectSubmissionAttachments] ON 

INSERT [dbo].[ProjectSubmissionAttachments] ([AttachmentID], [SubmissionID], [FileName], [FilePath], [FileSize], [ContentType], [Description], [UploadedAt], [UploadedBy], [IsActive]) VALUES (1, 1, N'CV (3).pdf', N'/uploads/submissions/1341f719-4739-451a-a5ae-ef244aeead59_CV (3).pdf', 29113, N'application/pdf', N'File đính kèm cho kết quả dự án', CAST(N'2025-07-23T13:14:11.5313314' AS DateTime2), 17, 1)
SET IDENTITY_INSERT [dbo].[ProjectSubmissionAttachments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectSubmissions] ON 

INSERT [dbo].[ProjectSubmissions] ([SubmissionID], [ApplicationID], [Title], [Description], [SubmittedAt], [Status], [BusinessFeedback], [FeedbackDate], [IsActive], [StudentApplicationApplicationID]) VALUES (1, 4, N'a', N'ÀAS', CAST(N'2025-07-23T13:14:11.4442979' AS DateTime2), N'Rejected', N'DU AN OK', CAST(N'2025-07-23T13:15:17.9429236' AS DateTime2), 1, NULL)
INSERT [dbo].[ProjectSubmissions] ([SubmissionID], [ApplicationID], [Title], [Description], [SubmittedAt], [Status], [BusinessFeedback], [FeedbackDate], [IsActive], [StudentApplicationApplicationID]) VALUES (2, 4, N'a', N'ÀAS', CAST(N'2025-07-23T13:15:34.3671567' AS DateTime2), N'Approved', N'ok', CAST(N'2025-07-23T13:15:46.9769466' AS DateTime2), 1, NULL)
INSERT [dbo].[ProjectSubmissions] ([SubmissionID], [ApplicationID], [Title], [Description], [SubmittedAt], [Status], [BusinessFeedback], [FeedbackDate], [IsActive], [StudentApplicationApplicationID]) VALUES (3, 2, N'a', N'a', CAST(N'2025-07-23T14:42:40.7604093' AS DateTime2), N'Pending', NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[ProjectSubmissions] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectTypes] ON 

INSERT [dbo].[ProjectTypes] ([TypeID], [TypeName], [IsActive]) VALUES (1, N'Toàn thời gian', 1)
INSERT [dbo].[ProjectTypes] ([TypeID], [TypeName], [IsActive]) VALUES (2, N'Bán thời gian', 1)
INSERT [dbo].[ProjectTypes] ([TypeID], [TypeName], [IsActive]) VALUES (3, N'Theo dự án', 1)
SET IDENTITY_INSERT [dbo].[ProjectTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([RatingID], [ProjectID], [ReviewerID], [RevieweeID], [Score], [Comment], [DateRated], [IsActive]) VALUES (1, 1, 3, 4, CAST(4.50 AS Decimal(3, 2)), N'Làm việc đúng hạn, chuyên nghiệp', CAST(N'2025-07-22T12:07:59.7750824' AS DateTime2), 1)
INSERT [dbo].[Ratings] ([RatingID], [ProjectID], [ReviewerID], [RevieweeID], [Score], [Comment], [DateRated], [IsActive]) VALUES (2, 1, 4, 3, CAST(5.00 AS Decimal(3, 2)), N'Khách hàng dễ tính, thanh toán nhanh', CAST(N'2025-07-22T12:07:59.7751458' AS DateTime2), 1)
INSERT [dbo].[Ratings] ([RatingID], [ProjectID], [ReviewerID], [RevieweeID], [Score], [Comment], [DateRated], [IsActive]) VALUES (3, 1, 3, 17, CAST(5.00 AS Decimal(3, 2)), N'oksfsfafsfsf', CAST(N'2025-07-23T13:16:41.7968918' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Ratings] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ReportID], [ReporterID], [ReportedUserID], [ProjectID], [ReportDate], [TypeID], [Description], [StatusID], [ResolvedAt], [AdminResponse], [IsActive]) VALUES (1, 11, 8, 2, CAST(N'2025-06-28T12:07:59.8862157' AS DateTime2), 1, N'Gửi quá nhiều tin nhắn rác liên tục.', 3, NULL, NULL, 1)
INSERT [dbo].[Reports] ([ReportID], [ReporterID], [ReportedUserID], [ProjectID], [ReportDate], [TypeID], [Description], [StatusID], [ResolvedAt], [AdminResponse], [IsActive]) VALUES (2, 14, 5, 1, CAST(N'2025-06-24T12:07:59.8862785' AS DateTime2), 1, N'Liên tục gửi cùng một tin nhắn.', 3, NULL, NULL, 1)
INSERT [dbo].[Reports] ([ReportID], [ReporterID], [ReportedUserID], [ProjectID], [ReportDate], [TypeID], [Description], [StatusID], [ResolvedAt], [AdminResponse], [IsActive]) VALUES (3, 12, 3, 9, CAST(N'2025-07-03T12:07:59.8862793' AS DateTime2), 4, N'Không trả lời tin nhắn trong thời gian dài.', 1, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportStatuses] ON 

INSERT [dbo].[ReportStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (1, N'Đang xử lý', 1)
INSERT [dbo].[ReportStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (2, N'Đã xử lý', 1)
INSERT [dbo].[ReportStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (3, N'Đã hủy', 1)
SET IDENTITY_INSERT [dbo].[ReportStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportTypes] ON 

INSERT [dbo].[ReportTypes] ([TypeID], [TypeName], [IsActive]) VALUES (1, N'Spam', 1)
INSERT [dbo].[ReportTypes] ([TypeID], [TypeName], [IsActive]) VALUES (2, N'Lừa đảo', 1)
INSERT [dbo].[ReportTypes] ([TypeID], [TypeName], [IsActive]) VALUES (3, N'Nội dung không phù hợp', 1)
SET IDENTITY_INSERT [dbo].[ReportTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillID], [SkillName], [CategoryID], [IsActive]) VALUES (1, N'.NET', 7, 1)
INSERT [dbo].[Skills] ([SkillID], [SkillName], [CategoryID], [IsActive]) VALUES (2, N'React', 7, 1)
INSERT [dbo].[Skills] ([SkillID], [SkillName], [CategoryID], [IsActive]) VALUES (3, N'Angular', 7, 1)
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentApplications] ON 

SET IDENTITY_INSERT [dbo].[StudentApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentSkills] ON 

INSERT [dbo].[StudentSkills] ([StudentSkillID], [UserID], [SkillID], [ProficiencyLevelID], [IsActive]) VALUES (1, 4, 8, 3, 1)
INSERT [dbo].[StudentSkills] ([StudentSkillID], [UserID], [SkillID], [ProficiencyLevelID], [IsActive]) VALUES (2, 4, 2, 3, 1)
INSERT [dbo].[StudentSkills] ([StudentSkillID], [UserID], [SkillID], [ProficiencyLevelID], [IsActive]) VALUES (3, 4, 48, 2, 1)
SET IDENTITY_INSERT [dbo].[StudentSkills] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [UserID], [ProjectID], [Amount], [TypeID], [TransactionDate], [Description], [StatusID], [OrderCode], [IsActive]) VALUES (1, 3, NULL, CAST(50000000.00 AS Decimal(15, 2)), 1, CAST(N'2025-07-21T12:07:59.7174258' AS DateTime2), N'Nạp tiền vào tài khoản', 2, N'8fe091d5-fc56-4341-beee-d5771424d33f', 1)
INSERT [dbo].[Transactions] ([TransactionID], [UserID], [ProjectID], [Amount], [TypeID], [TransactionDate], [Description], [StatusID], [OrderCode], [IsActive]) VALUES (2, 3, 1, CAST(15000000.00 AS Decimal(15, 2)), 3, CAST(N'2025-07-22T12:07:59.7176676' AS DateTime2), N'Thanh toán cho freelancer', 2, N'54a21158-8a4d-425d-b853-40b740ad60c5', 1)
INSERT [dbo].[Transactions] ([TransactionID], [UserID], [ProjectID], [Amount], [TypeID], [TransactionDate], [Description], [StatusID], [OrderCode], [IsActive]) VALUES (3, 1, NULL, CAST(200000.00 AS Decimal(15, 2)), 1, CAST(N'2025-07-23T06:00:24.9014276' AS DateTime2), N'Deposit via PayOS', 1, N'1753250424900', 1)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionStatuses] ON 

INSERT [dbo].[TransactionStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (1, N'Đang xử lý', 1)
INSERT [dbo].[TransactionStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (2, N'Thành công', 1)
INSERT [dbo].[TransactionStatuses] ([StatusID], [StatusName], [IsActive]) VALUES (3, N'Thất bại', 1)
SET IDENTITY_INSERT [dbo].[TransactionStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionTypes] ON 

INSERT [dbo].[TransactionTypes] ([TypeID], [TypeName], [IsActive]) VALUES (1, N'Nạp tiền', 1)
INSERT [dbo].[TransactionTypes] ([TypeID], [TypeName], [IsActive]) VALUES (2, N'Rút tiền', 1)
INSERT [dbo].[TransactionTypes] ([TypeID], [TypeName], [IsActive]) VALUES (3, N'Thanh toán', 1)
SET IDENTITY_INSERT [dbo].[TransactionTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccountActions] ON 

INSERT [dbo].[UserAccountActions] ([ActionID], [UserID], [ActionByID], [ActionType], [Description], [ActionDate], [IPAddress], [UserAgent], [IsActive]) VALUES (1, 1, 1, N'Verify', N'Self-verification (admin)', CAST(N'2025-06-22T12:08:00.6335912' AS DateTime2), N'127.0.0.1', N'DbSeeder', 1)
INSERT [dbo].[UserAccountActions] ([ActionID], [UserID], [ActionByID], [ActionType], [Description], [ActionDate], [IPAddress], [UserAgent], [IsActive]) VALUES (2, 2, 1, N'Verify', N'Verified by admin', CAST(N'2025-06-27T12:08:00.6831188' AS DateTime2), N'127.0.0.1', N'DbSeeder', 1)
INSERT [dbo].[UserAccountActions] ([ActionID], [UserID], [ActionByID], [ActionType], [Description], [ActionDate], [IPAddress], [UserAgent], [IsActive]) VALUES (3, 3, 2, N'Verify', N'Verified by moderator', CAST(N'2025-07-02T12:08:00.7055584' AS DateTime2), N'127.0.0.1', N'DbSeeder', 1)
SET IDENTITY_INSERT [dbo].[UserAccountActions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserNotifications] ON 

INSERT [dbo].[UserNotifications] ([UserNotificationID], [UserID], [NotificationID], [IsRead], [ReadDate]) VALUES (1, 4, 1, 1, NULL)
INSERT [dbo].[UserNotifications] ([UserNotificationID], [UserID], [NotificationID], [IsRead], [ReadDate]) VALUES (2, 10, 2, 1, NULL)
INSERT [dbo].[UserNotifications] ([UserNotificationID], [UserID], [NotificationID], [IsRead], [ReadDate]) VALUES (3, 11, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[UserNotifications] OFF
GO
ALTER TABLE [dbo].[Advertisements]  WITH CHECK ADD  CONSTRAINT [FK_Advertisements_AdvertisementPackageTypes_PackageTypeID] FOREIGN KEY([PackageTypeID])
REFERENCES [dbo].[AdvertisementPackageTypes] ([PackageTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advertisements] CHECK CONSTRAINT [FK_Advertisements_AdvertisementPackageTypes_PackageTypeID]
GO
ALTER TABLE [dbo].[Advertisements]  WITH CHECK ADD  CONSTRAINT [FK_Advertisements_AdvertisementStatuses_StatusID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[AdvertisementStatuses] ([StatusID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advertisements] CHECK CONSTRAINT [FK_Advertisements_AdvertisementStatuses_StatusID]
GO
ALTER TABLE [dbo].[Advertisements]  WITH CHECK ADD  CONSTRAINT [FK_Advertisements_AspNetUsers_ApprovedById] FOREIGN KEY([ApprovedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Advertisements] CHECK CONSTRAINT [FK_Advertisements_AspNetUsers_ApprovedById]
GO
ALTER TABLE [dbo].[Advertisements]  WITH CHECK ADD  CONSTRAINT [FK_Advertisements_AspNetUsers_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Advertisements] CHECK CONSTRAINT [FK_Advertisements_AspNetUsers_BusinessId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AccountStatuses_StatusID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[AccountStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AccountStatuses_StatusID]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Addresses_AddressID] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Addresses] ([AddressID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Addresses_AddressID]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AspNetUsers_FlaggedByID] FOREIGN KEY([FlaggedByID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AspNetUsers_FlaggedByID]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AspNetUsers_VerifiedByID] FOREIGN KEY([VerifiedByID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AspNetUsers_VerifiedByID]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_BankAccounts_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BankAccounts] CHECK CONSTRAINT [FK_BankAccounts_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories_ParentCategoryID] FOREIGN KEY([ParentCategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories_ParentCategoryID]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Projects_ProjectID]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_AspNetUsers_ReceiverID] FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_AspNetUsers_ReceiverID]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_AspNetUsers_SenderID] FOREIGN KEY([SenderID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_AspNetUsers_SenderID]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Conversations_ConversationID] FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversations] ([ConversationID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Conversations_ConversationID]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Projects_ProjectID]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_AspNetUsers_SenderID] FOREIGN KEY([SenderID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_AspNetUsers_SenderID]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_NotificationTypes_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[NotificationTypes] ([TypeID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_NotificationTypes_TypeID]
GO
ALTER TABLE [dbo].[ProjectAttachments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectAttachments_AspNetUsers_UploadedBy] FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ProjectAttachments] CHECK CONSTRAINT [FK_ProjectAttachments_AspNetUsers_UploadedBy]
GO
ALTER TABLE [dbo].[ProjectAttachments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectAttachments_Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[ProjectAttachments] CHECK CONSTRAINT [FK_ProjectAttachments_Projects_ProjectID]
GO
ALTER TABLE [dbo].[ProjectFlagActions]  WITH CHECK ADD  CONSTRAINT [FK_ProjectFlagActions_AspNetUsers_ActionByID] FOREIGN KEY([ActionByID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ProjectFlagActions] CHECK CONSTRAINT [FK_ProjectFlagActions_AspNetUsers_ActionByID]
GO
ALTER TABLE [dbo].[ProjectFlagActions]  WITH CHECK ADD  CONSTRAINT [FK_ProjectFlagActions_Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[ProjectFlagActions] CHECK CONSTRAINT [FK_ProjectFlagActions_Projects_ProjectID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Addresses_AddressID] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Addresses] ([AddressID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Addresses_AddressID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_AspNetUsers_BusinessID] FOREIGN KEY([BusinessID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_AspNetUsers_BusinessID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_AspNetUsers_FlaggedByID] FOREIGN KEY([FlaggedByID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_AspNetUsers_FlaggedByID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Categories_CategoryID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_ProjectStatuses_StatusID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[ProjectStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_ProjectStatuses_StatusID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_ProjectTypes_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[ProjectTypes] ([TypeID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_ProjectTypes_TypeID]
GO
ALTER TABLE [dbo].[ProjectSkillsRequired]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSkillsRequired_ImportanceLevels_ImportanceLevelID] FOREIGN KEY([ImportanceLevelID])
REFERENCES [dbo].[ImportanceLevels] ([LevelID])
GO
ALTER TABLE [dbo].[ProjectSkillsRequired] CHECK CONSTRAINT [FK_ProjectSkillsRequired_ImportanceLevels_ImportanceLevelID]
GO
ALTER TABLE [dbo].[ProjectSkillsRequired]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSkillsRequired_Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[ProjectSkillsRequired] CHECK CONSTRAINT [FK_ProjectSkillsRequired_Projects_ProjectID]
GO
ALTER TABLE [dbo].[ProjectSkillsRequired]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSkillsRequired_Skills_SkillID] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[ProjectSkillsRequired] CHECK CONSTRAINT [FK_ProjectSkillsRequired_Skills_SkillID]
GO
ALTER TABLE [dbo].[ProjectSubmissionAttachments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSubmissionAttachments_AspNetUsers_UploadedBy] FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ProjectSubmissionAttachments] CHECK CONSTRAINT [FK_ProjectSubmissionAttachments_AspNetUsers_UploadedBy]
GO
ALTER TABLE [dbo].[ProjectSubmissionAttachments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSubmissionAttachments_ProjectSubmissions_SubmissionID] FOREIGN KEY([SubmissionID])
REFERENCES [dbo].[ProjectSubmissions] ([SubmissionID])
GO
ALTER TABLE [dbo].[ProjectSubmissionAttachments] CHECK CONSTRAINT [FK_ProjectSubmissionAttachments_ProjectSubmissions_SubmissionID]
GO
ALTER TABLE [dbo].[ProjectSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSubmissions_StudentApplications_ApplicationID] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[StudentApplications] ([ApplicationID])
GO
ALTER TABLE [dbo].[ProjectSubmissions] CHECK CONSTRAINT [FK_ProjectSubmissions_StudentApplications_ApplicationID]
GO
ALTER TABLE [dbo].[ProjectSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSubmissions_StudentApplications_StudentApplicationApplicationID] FOREIGN KEY([StudentApplicationApplicationID])
REFERENCES [dbo].[StudentApplications] ([ApplicationID])
GO
ALTER TABLE [dbo].[ProjectSubmissions] CHECK CONSTRAINT [FK_ProjectSubmissions_StudentApplications_StudentApplicationApplicationID]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_AspNetUsers_RevieweeID] FOREIGN KEY([RevieweeID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_AspNetUsers_RevieweeID]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_AspNetUsers_ReviewerID] FOREIGN KEY([ReviewerID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_AspNetUsers_ReviewerID]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Projects_ProjectID]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_AspNetUsers_ReportedUserID] FOREIGN KEY([ReportedUserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_AspNetUsers_ReportedUserID]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_AspNetUsers_ReporterID] FOREIGN KEY([ReporterID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_AspNetUsers_ReporterID]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Projects_ProjectID]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_ReportStatuses_StatusID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[ReportStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_ReportStatuses_StatusID]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_ReportTypes_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[ReportTypes] ([TypeID])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_ReportTypes_TypeID]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK_Skills_Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK_Skills_Categories_CategoryID]
GO
ALTER TABLE [dbo].[StudentApplications]  WITH CHECK ADD  CONSTRAINT [FK_StudentApplications_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[StudentApplications] CHECK CONSTRAINT [FK_StudentApplications_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[StudentApplications]  WITH CHECK ADD  CONSTRAINT [FK_StudentApplications_Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[StudentApplications] CHECK CONSTRAINT [FK_StudentApplications_Projects_ProjectID]
GO
ALTER TABLE [dbo].[StudentSkills]  WITH CHECK ADD  CONSTRAINT [FK_StudentSkills_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[StudentSkills] CHECK CONSTRAINT [FK_StudentSkills_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[StudentSkills]  WITH CHECK ADD  CONSTRAINT [FK_StudentSkills_ProficiencyLevels_ProficiencyLevelID] FOREIGN KEY([ProficiencyLevelID])
REFERENCES [dbo].[ProficiencyLevels] ([LevelID])
GO
ALTER TABLE [dbo].[StudentSkills] CHECK CONSTRAINT [FK_StudentSkills_ProficiencyLevels_ProficiencyLevelID]
GO
ALTER TABLE [dbo].[StudentSkills]  WITH CHECK ADD  CONSTRAINT [FK_StudentSkills_Skills_SkillID] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[StudentSkills] CHECK CONSTRAINT [FK_StudentSkills_Skills_SkillID]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Projects_ProjectID]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_TransactionStatuses_StatusID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[TransactionStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_TransactionStatuses_StatusID]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_TransactionTypes_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[TransactionTypes] ([TypeID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_TransactionTypes_TypeID]
GO
ALTER TABLE [dbo].[UserAccountActions]  WITH CHECK ADD  CONSTRAINT [FK_UserAccountActions_AspNetUsers_ActionByID] FOREIGN KEY([ActionByID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserAccountActions] CHECK CONSTRAINT [FK_UserAccountActions_AspNetUsers_ActionByID]
GO
ALTER TABLE [dbo].[UserAccountActions]  WITH CHECK ADD  CONSTRAINT [FK_UserAccountActions_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserAccountActions] CHECK CONSTRAINT [FK_UserAccountActions_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[UserAccountHistories]  WITH CHECK ADD  CONSTRAINT [FK_UserAccountHistories_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserAccountHistories] CHECK CONSTRAINT [FK_UserAccountHistories_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[UserNotifications]  WITH CHECK ADD  CONSTRAINT [FK_UserNotifications_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserNotifications] CHECK CONSTRAINT [FK_UserNotifications_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[UserNotifications]  WITH CHECK ADD  CONSTRAINT [FK_UserNotifications_Notifications_NotificationID] FOREIGN KEY([NotificationID])
REFERENCES [dbo].[Notifications] ([NotificationID])
GO
ALTER TABLE [dbo].[UserNotifications] CHECK CONSTRAINT [FK_UserNotifications_Notifications_NotificationID]
GO
