@model StudentFreelance.Models.Category
<link rel="stylesheet" href="~/css/category/hide.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Ẩn Danh Mục";
}

<h2>Bạn có chắc chắn muốn ẩn danh mục này không?</h2>

<div>
    <h4>@Model.CategoryName</h4>
    <p>@Model.Description</p>
</div>

<form asp-action="Hide" method="post">
    @Html.AntiForgeryToken()
    <input asp-for="CategoryID" type="hidden" />
    <button type="submit" class="btn btn-danger">Ẩn danh mục</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
